@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@keyframes colorCycle {
  0% {
    color: #16A34A;
  }
  33% {
    color: #9333EA;
  }
  66% {
    color: #2563EB;
  }
  100% {
    color: #16A34A;
  }
}

@keyframes bounce-horizontal {
  0%, 100% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(4px);
  }
}

.animate-bounce-horizontal {
  animation: bounce-horizontal 0.5s infinite;
}


html {
  scroll-behavior: smooth;
}

